@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
	--clr-dark: #324364;
	--clr-gray: #656565;
	--clr-accent: #2d6236;
	--clr-white: #ffffff;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

input,
button {
	font-family: inherit;
}

a {
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
}

body {
	font-family: 'Poppins', sans-serif;
	height: 100vh;
	display: flex;
	color: var(--clr-dark);
}

/* LOGIN PAGE */

.form-container {
	flex: 1;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2em;
}

.title-container {
	text-align: center;
}

.title {
	font-size: 2rem;
}

.input-container {
	display: flex;
	flex-direction: column;
	gap: 0.25em;
}

form {
	display: flex;
	flex-direction: column;
	gap: 1em;
	width: 70%;
}

input {
	color: var(--clr-gray);
	border-radius: 0.75em;
	border: 1px solid var(--clr-dark);
	padding: 0.75em 1em;
}

input:focus {
	outline: none;
}

label {
	font-weight: 500;
}

button[type='submit'] {
	color: var(--clr-white);
	border: none;
	border-radius: 0.75em;
	padding: 0.75em 1em;
	font-weight: 700;
	cursor: pointer;
	background-color: var(--clr-accent);
	transition: translate 150ms, box-shadow 150ms;
}

button[type='submit']:hover,
button[type='submit']:focus {
	translate: 0 -0.1em;
	box-shadow: 0 0.5em 15px rgba(0, 0, 0, 0.2);
	outline: none;
}
.signup a {
	color: var(--clr-accent);
}

.signup a:hover,
.signup a:focus {
	border-bottom: 1px solid var(--clr-accent);
}

.remember-forgot {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 1em;
}

.forgot {
	color: var(--clr-accent);
	background-color: transparent;
	border: none;
	font-weight: 500;
	cursor: pointer;
}

@media (width>=847px) {
	.image {
		flex: 1;
		background: url('/bg.png') no-repeat;
		background-size: cover;
	}
}

@media (width>=1297px) {
	form {
		width: 50%;
	}
}

/* HOME PAGE */
.home {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	gap: 1em;
}

header {
	width: 100%;
	max-height: 10vh;
	background-color: var(--clr-accent);
	color: var(--clr-white);
	padding: 1em 2em;

	display: flex;
	gap: 2em;
	justify-content: space-between;
	align-items: center;
}

header > img {
	height: 70%;
	border-radius: 50%;
}

header > form {
	display: none;
}

header input {
	border: none;
	background-color: #ffffff84;
	color: #ffffff;
	width: 100%;
}

header > h1 {
	font-size: medium;
}

@media (width > 624px) {
	header > form {
		display: block;
	}

	header > h1 {
		font-size: large;
	}
}

@media (width > 1300px) {
	header > h1 {
		font-size: x-large;
	}
}

.home > form {
	width: 100%;
	padding-inline: 1em;
}

.home > form > input {
	border: none;
	background-color: #6565653f;
	color: var(--clr-dark);
}

@media (width > 624px) {
	.home > form {
		display: none;
	}
}

.passwords {
	flex-wrap: wrap;
	display: flex;
	gap: 1em;
	margin-top: 2em;
	padding-inline: 1em;
}

@media (width > 700px) {
	.passwords {
		padding-inline: 2em;
	}
}

.card {
	box-shadow: 0 0 0.7em #6565657d;
	border-radius: 1em;
	padding: 3em;
	display: grid;
	place-items: center;
	gap: 2em;
	width: min(100%, 370px);
}

.card h3 {
	font-size: 3rem;
}
